* {
  background-color: rgb(195, 195, 216);
}

.App {
  text-align: center;
}

.nav {
  text-align: center;
  padding: 2em;
  background-color: rgb(255, 255, 255);
}

.nav ul {
  background-color: rgb(255, 255, 255);
}

.nav li {
  display: inline-block;
  margin: 0 3em;
  background-color: rgb(255, 255, 255);
}

.nav a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

.nav a:hover {
  /* text-decoration: underline; */
  text-transform: uppercase;
}

.about {
  padding: 3em;
  text-align: justify;
  margin: 0 20em;
}

.employment {
  margin: 0 20em;
}

.experience,
.experienceHovered {
  float: left;
}

.experience h1 {
  padding: .5em;
  background-color: white;
}

.experienceHovered h1 {
  padding: .5em;
  background-color: black;
  color: white;
}

.skills,
.skillsHovered {
  float: right;
}

.skills h1 {
  padding: .5em 1em;
  background-color: white;
}

.skillsHovered h1 {
  padding: .5em 1em;
  background-color: black;
  color: white;
}

.projectsContainer {
  display: flex;
  justify-content: center;
}

.project {
  padding: 1em 5em;
  text-align: justify;
}

.projectTitle {
  font-size: 2em;
  padding-right: .5em;
}

.projectLinks {
  font-style: italic;
}

.projectLinks a {
  padding: 0 .25em;
  text-decoration: none;
  color: rgb(79, 79, 212);
}

.projectLinks a:hover {
  text-transform: uppercase;
}

.cv {
  display: flex;
  justify-content: center;
  padding: 5em;
}

#root > div > div.content > div > div > div > div.react-pdf__Page__textContent,
#root > div > div.content > div > div > div > div.react-pdf__Page__annotations.annotationLayer {
  display: none;
}