* {
  background-color: rgb(195, 195, 216);
}

.App {
  text-align: center;
}

.nav {
  text-align: center;
  padding: 2em;
  background-color: rgb(255, 255, 255);
}

.nav ul {
  background-color: rgb(255, 255, 255);
}

.nav li {
  display: inline-block;
  margin: 0 3em;
  background-color: rgb(255, 255, 255);
}

.nav a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

.nav a:hover {
  /* text-decoration: underline; */
  text-transform: uppercase;
}

.about {
  padding: 3em;
  text-align: justify;
  margin: 0 20em;
}